firmware/build/
sim/build/
build/
firmware/assets/*.mp4
firmware/assets/*.mid
firmware/assets/bad_apple_minimal.bin
firmware/assets/bad_apple_minimal.mem
*.vcd
*.lst
*.log
**/__pycache__/
*.pyc
!tests/riscv_tests/tecplus_p/
!tests/riscv_tests/tecplus_p/**
!tests/riscv_tests/riscv-tests
